<div class="container text-center">
  <div class="row">
    <div class="col">
      <aside class="profile-card" id="musician-card1">
  
  <header>
    
    <!-- photo -->
    <a href="#">
      <img src="public/assets/jamfolio.png">
    </a>

    <!-- the username -->
    <h1 id="musician-name">Jedd Javier</h1>
    
    <!-- and role or location -->
    <h2 id="tagline">Guitarist # 1!</h2>
    
  </header>
  
  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">
    
    <p>Classical guitarist</p>
    
  </div>
  

  
</aside>
    </div>


    <div class="col">
            <aside class="profile-card" id="musician-card2">
  
  <header>
    
    <!-- photo -->
    <a href="#">
      <img src="public/assets/jamfolio.png">
    </a>

    <!-- the username -->
    <h1 id="musician-name">PINK FLOYD</h1>
    
    <!-- and role or location -->
    <h2 id="tagline">Guitarist # 2!</h2>
    
  </header>
  
  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">
    
    <p>electric guitarist</p>
    
  </div>
  

  
</aside>
    </div>
<!-- musician 3 card-->

    <div class="col">
            <aside class="profile-card" id="musician-card3">
  
  <header>
    
    <!-- photo -->
    <a href="#">
      <img src="public/assets/jamfolio.png">
    </a>

    <!-- the username -->
    <h1 id="musician-name">Santana</h1>
    
    <!-- and role or location -->
    <h2 id="tagline">Guitarist # 3!</h2>
    
  </header>
  
  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">
    
    <p>electric guitarist</p>
    
  </div>
  

  
</aside>
    </div>


    <div class="col">      
      <aside class="profile-card" id="musician-card4">
  
  <header>
    
    <!-- photo -->
    <a href="#">
      <img src="public/assets/jamfolio.png">
    </a>

    <!-- the username -->
    <h1 id="musician-name">Jimi Hendrix</h1>
    
    <!-- and role or location -->
    <h2 id="tagline">Guitarist # 0!</h2>
    
  </header>
  
  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">
    
    <p>electric guitarist</p>
    
  </div>
  

  
</aside></div>
  </div>
  <div class="row">
    <div class="col-8">col-8</div>
    <div class="col-4">col-4</div>
  </div>
</div>

