<div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form"></form>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
   <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="email" class="form-control" id="password-login" placeholder="password here"><button class="signup-btn">Log in</button>
</div>


<div class="signup-card">
    <h2 class="page-title">Sign up</h2>
    <form class="form signup-form"></form> 
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
   <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="password here"><button class="signup-btn">Sign up</button>
</div>