
<div class="container-fluid py-5">
  <div class="row">
    <div class="col-md-6">
      <div class="login-card">
        <h2 class="page-title">Login</h2>
        <form class="form login-form">
          <div class="mb-3">
            <label for="email-login" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
            <label for="password-login" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login" placeholder="password here">
          </div>
          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="signup-card">
        <h2 class="page-title">Sign up</h2>
        <form class="form signup-form">
          <div class="mb-3">
            <label for="first-name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="First Name" required>
          </div>
          <div class="mb-3">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Last Name" required>
          </div>
          <div class="mb-3">
            <label for="email-signup" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-signup" placeholder="name@example.com" required>
          </div>
          <div class="mb-3">
            <label for="password-signup" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="password here" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>