<div class="container text-center">
    <div class="row align-items-start">
        <div class="col-md-4">

<div class="mb-3">
<label for="exampleFormControlTextarea1" class="form-label">Discography</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3"></div>
  <label for="formFile" class="form-label">Upload your file here</label>
  <input class="form-control" type="file" id="formFile1">
</div>

<div class="mb-3"></div>
    <label for="exampleFormControlTextarea1" class="form-label">Discography</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3"></div>
    <label for="formFile" class="form-label">Upload your file here</label>
    <input class="form-control" type="file" id="formFile2">
</div>

<div class="mb-3"></div>
    <label for="exampleFormControlTextarea1" class="form-label">Discography</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3"></div>
  <label for="formFile" class="form-label">Upload your file here</label>
  <input class="form-control" type="file" id="formFile3">
</div>
</div>

<div class="col-md-4">
<!--second column photo of musician-->
{{!-- <div class="mb-3"></div>
<img src="..." class="rounded mx-auto d-block" alt="musician photo"> --}}
<div class="mb-3"></div>
  <label for="formFile" class="form-label">Upload your photo here</label>
  <input class="form-control" type="file" id="formFile">
</div>
</div>
{{!-- </div> --}}
{{!-- {{#if gigs.length}} --}}
<div class="col-md-4">
       <!--third column : Upcoming gigs in Timeline-->

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Gig name: </label>
  <input type="email" class="form-control" id="gig-name" placeholder="gig name">
   <label for="exampleFormControlInput1" class="form-label">Date: </label>
  <input type="email" class="form-control" id="gig-date" placeholder="gig-date">
  <label for="exampleFormControlInput1" class="form-label">Place: </label>
  <input type="email" class="form-control" id="gig-place" placeholder="gig-place">
   <label for="exampleFormControlInput1" class="form-label">Capacity: </label>
  <input type="email" class="form-control" id="gig-capacity" placeholder="gig-capacity">
  <label for="exampleFormControlInput1" class="form-label">Ticket Price: </label>
  <input type="email" class="form-control" id="gig-price" placeholder="gig-price">
  <button class="signup-btn">Add this gig</button>
</div>



       {{!-- {{#each gig as |gig|}}
    <div class="timeline">
  <div class="container right">
    <div class="content">
      <h2 id="gig-date1">{{gig.date}}</h2>
      <p id="gig-place1">{{gig.place}}</p>
      <p id="gig-capacity1">{{gig.capacity}}</p>
      <p id="gig-price1">{{gig.[0].price}}</p>
      {{/each}}
    </div>
    {{/if}} --}}
  </div>

</div>
 
</div>


        </div>
    </div>
</div>
