<aside class="profile-card">
  
  <header>
    
    <!-- photo -->
    <a href="#">
      <img src="public/assets/Screenshot 2023-05-08 at 12.19.14 PM.png">
    </a>

    <!-- the username -->
    <h1 id="musician-name">Jedd Javier</h1>
    
    <!-- and role or location -->
    <h2 id="tagline">Guitarist # 1!</h2>
    
  </header>
  
  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">
    
    <p>Classical guitarist</p>
    
  </div>
  

  
</aside>
